<div class="content">
  <aside class="sidebar">
    <div>
      <h3 class="sidebar__title">Nodes: ({{ nodes.length }})</h3>
      <ul>
        <li *ngFor="let node of nodes" class="list-item">
          <span class="list-item__heading">{{ node.title }}</span>
          <span class="list-item__meta">Inputs: {{ node.inputs.length }} &bull; Outputs: {{ node.outputs.length }}</span>
        </li>
      </ul>
    </div>
    <div>
      <h3 class="sidebar__title">Connectors: ({{ connectors.length }})</h3>
      <ul>
        <li *ngFor="let connector of populateOutput(connectors); let i = index" class="list-item list-item--orange">
          <span class="list-item__heading">Connector {{ i + 1 }}</span>
          <span class="list-item__meta">{{ connector.input.title }} - {{ connector.output.title }}</span>
        </li>
      </ul>
    </div>

  </aside>

  <div class="main">
    <svg id="svg">

      <g id="diagram" data-drag="diagram:diagram" data-drag-type="diagram">
        <g id="node-layer">
          <g node *ngFor="let node of nodes" [node]="node"></g>
        </g>

        <g id="connections-layer"></g>

        <g class="connector">

          <path class="connector-path-outline" />
          <path class="connector-path" />

          <circle class="connector-handle input-handle" cx="0" cy="0" r="4" />
          <circle class="connector-handle output-handle" cx="0" cy="0" r="4" />
        </g>

        <circle id="drag-proxy" cx="0" cy="0" r="1" fill="none" />
      </g>
    </svg>
  </div>
</div>
